<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Insertar Especie</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	<link th:href="@{/libs/bootstrap.min.css}" href="../../libs/bootstrap.min.css" rel="stylesheet"></link>
	<link th:href="@{/styles/main.css}" href="../../styles/main.css" rel="stylesheet"></link>
	<script th:src="@{/libs/jquery-2.2.1.min.js}"  src="../../libs/jquery-2.2.1.min.js"></script>
	<script th:src="@{/libs/bootstrap.min.js}"  src="../../libs/bootstrap.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'></link>
</head>
<body style="background: url(../../img/background.jpg);">
	<div class="container">
		<div class="panel panel-default" id="panel">
			<h1 class="panel-heading" id="cabecera">Insertar Especie</h1>
			<div class="panel-body" id="cuerpoPagina">
				<form class="form-horizontal" role="form" th:action="'/modificarEspecieBD/' + ${especie.idEspecie}" method="post" >
					<div class="form-group">
						<label class="control-label col-sm-2" for="nombreCientifico">Nombre Científico: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nombreCientifico" th:value="${especie.nombreCientifico}" placeholder="Inserte aquí el nombre científico de la especie" size="45" maxlength="45" required="required"></input>
                        </div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="nombreComun">Nombre Común: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="nombreComun" th:value="${especie.nombreComun}" placeholder="Inserte aquí el nombre común de la especie" size="45" maxlength="45" required="required"></input>
                        </div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-2" for="tipo">Tipo: </label>
                        <div class="col-sm-10">
                            <select name="tipo" class="form-control">
							    <option value="Vegetal">Vegetal</option>
							    <option value="Animal">Animal</option>
							    <option value="Hongo">Hongo</option>
						  	</select>
                        </div>
					</div>
					<div class="idDato form-group">
						 <input type="text" class="form-control" name="imageUrl" value="/img/animalIcon.png" placeholder="Inserte aquí el tipo de especie" size="45" maxlength="45" required="required"></input>
					</div>
					<div class="divButton">
						<button class="btn btn-default btn-lg" type="submit" value="Enviar">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>